<div class="col-md-10 col-md-offset-1 job-content">
  <% if current_user && current_user.admin? %>
      <%= link_to(content_tag(:i, " HR专区", class: "fa fa-reply-all"), admin_jobs_path) %>
  <% end %>

  <!--=== 工作列表 ===-->
  <% if @jobs.length > 0 %>
    <% @jobs.each do |job| %>
      <div class="col-md-12 btn-group col-xs-12 job-box">
        <div class="container-fluid">
          <h3>
            <span><%= link_to(job.name, job_path(job))%></span>

                  <% if current_user && current_user.is_member_of?(job) %>

                      <%= link_to remove_job_path(job), method: :post do %>
                        <sapn class="fa fa-star"></sapn>
                      <% end %>
                    <% else %>
                      <%= link_to add_job_path(job), method: :post do %>
                        <sapn class="fa fa-star-o"></sapn>
                      <% end %>
                    <% end %>
          </h3>
          <div class="row">
             <div class="col-md-6 info-mid">
               <span>月薪: <%= job.wage_lower_bound %>k ~ <%= job.wage_upper_bound %>k </span>
             </div>
             <div class="col-md-6">
               <span class="<%= render_job_category(job) %>"> <%= job.category %></span>
             </div>
           </div>

           <div class="row">
             <div class="col-md-3 col-sm-6">
               <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>  <%= job.company %></span>
             </div>
             <div class="col-md-3 col-sm-6">
               <sapn class="fa fa-map-marker"> <%= job.location %></sapn>
             </div>
             <div class="col-md-3 col-sm-6">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= time_ago_in_words(job.created_at) %> ago</span>
             </div>
             <div class="col-md-3 col-sm-6">
               <span><i class="fa fa-envelope" aria-hidden="true"></i>  <%= job.contact_email %></span>
             </div>
           </div>
         </div>
      </div>
    <% end %>
  <% else %>
    <!--=== 没有职位资料 ===-->
    <div class="col-md-9 col-xs-12 no-job-data">

      <h2>此分类暂时没有招聘职位哦，请尝试其他选项。</h2>
    </div>
  <% end %>
      <!--=== 分页区块 ===-->
      <div class="col-md-10 col-md-offset-1 job-bottom">
        <div class="text-center">
          <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
</div>
