<div class="col-md-10 col-md-offset-1 job-content">
  <% if @favorites.length > 0 %>
      <span>我收藏的职位</span>
      <div class="main-box">
        <% @favorites.each do |favorite| %>
          <div class="col-md-9 col-xs-12 job-box">

            <div class="container-fluid">
              <h3>
                <span><%= link_to(favorite.job.name, job_path(favorite.job))%></span>

                      <% if current_user && current_user.is_member_of?(favorite.job) %>

                          <%= link_to remove_job_path(favorite.job), method: :post do %>
                            <sapn class="fa fa-star"></sapn>
                          <% end %>
                        <% else %>
                          <%= link_to add_job_path(favorite.job), method: :post do %>
                            <sapn class="fa fa-star-o"></sapn>
                          <% end %>
                        <% end %>
              </h3>
              <div class="row">
                 <div class="col-md-6 info-mid">
                   <span>月薪: <%= favorite.job.wage_lower_bound %>k ~ <%= favorite.job.wage_upper_bound %>k </span>
                 </div>
                 <div class="col-md-6">
                   <span class="<%= render_job_category(favorite.job) %>"> <%= favorite.job.category %></span>
                 </div>
               </div>

               <div class="row">
                 <div class="col-md-3 col-sm-6">
                   <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>  <%= favorite.job.company %></span>
                 </div>
                 <div class="col-md-3 col-sm-6">
                   <sapn class="fa fa-map-marker"> <%= favorite.job.location %></sapn>
                 </div>
                 <div class="col-md-3 col-sm-6">
                   <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= time_ago_in_words(favorite.job.created_at) %> ago</span>
                 </div>
                 <div class="col-md-3 col-sm-6">
                   <span><i class="fa fa-envelope" aria-hidden="true"></i>  <%= favorite.job.contact_email %></span>
                 </div>
               </div>
             </div>

          </div>
        <% end %>
      </div>
      <!--=== 职位推荐 ===-->
      <div class="col-md-3 side-box">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 suggest-title">
                <sapn class="fa fa-tags"></sapn> <span>职位推荐</span>
              </div>
              <div class="row">
              <% @recommended.each do |job| %>
              <div class="col-xs-10 col-xs-offset-1 suggest-content">
                <div>
                  <h3>
                    <%= link_to job_path(job), target: "_blank" do %>
                      <%= job.name %> [<%= job.location %>]
                    <% end %>
                  </h3>
                </div>
                <div><p><%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k</p></div>
                <div><span><%= job.company %></span></div>
              </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-10 col-md-offset-1 job-bottom">
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  <% else %>
    <div class="col-md-12 job-limit-box text-center">
      <h2>你还没收藏任何职位哦！</h2><br />
      <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-lg btn-success") %></p>
    </div>


  <% end %>
</div>
